{% extends 'base.html.twig' %}


{% block body %}
    <h1>bonjour</h1>

    {{form_start(form)}}
    {{form_widget(form)}}
    <button type="button" class="btn btn-primary">inscription</button>
    {{form_end(form)}}

{% endblock body %} 