
body{
    background-color: beige;
    background-image: url(../images/BACKGROUND/background-village.png);
    max-width: 1990px;
}

.navFond{
  
    width: 100%;
    margin-left: 0px !important;
    z-index: 0;
    max-height: 190px !important;
  
    position: relative;
    /*
    top: -178px;
    */
}
.navFond2{
    background-image: url(../images/HEADER/3bandes.png) !important;
    background-size: cover !important;
    width: 100% !important;
    max-width: 1115px !important;
    margin-right: auto;
    margin-left: auto;
}
.navtext{
    color:white !important;
}
#fond{
    background-image: url(../images/BACKGROUND/bande\ milieu.png);
    background-size: cover;
    margin:auto;
    margin-top: -15px;
    width:auto;
    min-height: 1300px;
    padding-left: 0px;
    /*
    margin-top: -243px;
    /*
    background-repeat: cover;
    width: 100%;*/
  
   

}
.notify-badge{
    position: absolute;
    background: rgba(0,0,255,1);
    height:0.8rem;
    top:1.2rem;
    right:55px;
    width:0.8rem;
    text-align: center;
   
    font-size: 0.7rem;
    border-radius: 50%;
    color:white;
    
}
.section{
    margin-top: 50px;
    margin-left: 1px !important;
}
#logo{
    
    z-index: 10000 ;
}
#pad{
    padding-left: 0px !important;
}

* {
    /* border: 1px solid black ; */
}

.guitare{
    text-align: center;
    border: 1px solid black ;
}

.list-nav{
    width: 100%;
}
.item{
    display: inline-block !important;
    vertical-align: top;
    margin: 10px;
    position: relative;
    width: 100px;
    text-align: center;
}

.item ul{
    padding: 0;
}
/*
.subitem{
    list-style-type: none;
}*/

.drop,.drop3{
   background-image: url(../images/MODAL/MODAL\ guitare\ encadrer.png) !important ;
   border-color: black !important;
   display: none;
   background-repeat: no-repeat;
   /* appearance: none !important; */
   position: absolute;
   background-size: cover;
   /* width: 234px; */
   height: 316px;
   /* top: 0%; */
   left: -75px!important;
   z-index: 10000 !important;
   /* border: 1px solid black ; */
   
}
.drop2{
    border-color: black !important;
   display: none;
   background-repeat: no-repeat;
   /* appearance: none !important; */
   position: absolute;
   background-size: cover;
   /* width: 234px; */
   height: 316px;
   /* top: 0%; */
   left: -75px!important;
   z-index: 10000 !important;
   /* border: 1px solid black ; */
}
.item img{
    visibility: hidden;
    /* position: absolute; */
}

.navSous{
    margin-top: 10%;
    margin-left: 10%;
   
}

.promoG{
    left:-20% !important;
    position: absolute;
}

#nav2{
    font-size: 1.5rem;
    color:white;
}

#nav3{
    font-size: 1.1rem;
    margin-left: -40px;
}

.produit{
    margin-right:0px!important;
    margin-left: 0px !important;
   
}
    
  



.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.vertical-menu {
    width: 200px;
    height: 400px;
    overflow-y: auto;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: rgb(211, 206, 206);
}
  
.description{
    height: 150px !important;
}
.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }

.texte{
    font-size: 0.7rem !important;
}
    #tooltip {
        background-image: url('../images/MODAL/MODAL espace client encadrer.png')!important;
        min-width: 535px ;
        min-height: 290px;
        color: white;
        font-weight: bold;
        padding: 4px 8px;
        font-size: 13px;
        border-radius: 4px;
        display: none;
        z-index: 1;
        
        
      }

      #tooltip[data-show] {
        display: block;
       
      }

      #arrow,
      #arrow::before {
        position: absolute;
        width: 8px;
        height: 8px;
        z-index: -1;
      }

      #arrow::before {
        content: '';
        transform: rotate(45deg);
        
      }

      #tooltip[data-popper-placement^='top'] > #arrow {
        bottom: -4px;
      }

      #tooltip[data-popper-placement^='bottom'] > #arrow {
        top: -4px;
      }

      #tooltip[data-popper-placement^='left'] > #arrow {
        right: -4px;
      }

      #tooltip[data-popper-placement^='right'] > #arrow {
        left: -4px;
      }
