{% extends 'admin/index.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
    <h1>Create new Client</h1>

    {{ include('client/_form.html.twig') }}

    <a href="{{ path('client_index') }}">back to list</a>
       </div>
</div>
{% endblock %}
