<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
         {{ encore_entry_link_tags('app') }}
        
        {% endblock %}
    </head>
    
    <header style="z-index: 100;position: relative;">
    <div class="container">
      <div class="row navFond">
        <div id="logo" class="col-4 col-lg-4 d-inline-block" style="padding-left: 0px;padding-right: 0px;">
          <img class="logo img-fluid" src="images\HEADER\logo village green.png" style="position: absolute;">
        </div>
        <div class="col-lg-7" id="navFond">
          <nav class="navbar navbar-expand-lg navbar-light col-12 col-md-12 col-lg-12" id='one'>
            <a class="navbar-brand"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class=" col-12 col-lg-12">
              <div class="container">
                <div class="row row-cols-12">
                  <div class=" col-lg-12">
                    <a class="navbar-brand"></a>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                      <div class="navbar-nav col-lg-10" id="nav1">
                        <a class="nav-link active col-lg-4" href="#">Infos</a>
                        <a class="nav-link espaceClient col-lg-6" href="#"> Espace client
                          <div class=" col ">
                            <div class="collapse navbar-collapse nav10" id="navbarNavAltMarkup">
                              <div class="navbar-nav drop10" id="three">
                                <div class="row">
                                  <div class="col">
                                    1 of 2
                                  </div>
                                  <div class="col">
                                    2 of 4
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col">
                                    3 of 4
                                  </div>
                                  <div class="col">
                                    4 of 4
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                        <a class="nav-link col-lg-2" href="#"><img src="images\HEADER\picto panier.png" alt=""></a>
                        <a class="nav-link col-lg-4" href="#"><img src="images\HEADER\picto pays.png" alt=""></a>
                      </div>
                    </div>


                  </div>
                  <div class=" col-lg-12">
                    <div class="collapse navbar-collapse" id="nav2 navbarNavAltMarkup">
                      <div class="navbar-nav" id="two">
                        <a class="nav-link col-lg-4 active" href="#">Produit </a>
                        <a class="nav-link col-lg-4" href="#"> Services</a>
                        <a class="nav-link col-lg-4" href="#">Aide</a>
                        <a class="nav-link col-lg-4" href="#">A Propos</a>
                      </div>
                    </div>
                  </div>
                  <nav class="col-lg-12 row">
                    <ul class="list-nav row">
                      <li class="item " id="guitare">guitare
                        <ul class="drop">
                          <li class="subitem">test1</li>
                          <li class="subitem">test2</li>
                          <img src="images/MODAL/MODAL guitare encadrer.png">
                        </ul>
                      </li>
                      <li class="item "id="batterie">batterie
                        <ul class="drop">
                          <li class="subitem">test1</li>
                          <li class="subitem">test2</li>
                          <img src="images/MODAL/MODAL guitare encadrer.png">
                        </ul>
                      </li>
                      <li class="item clavier">clavier
                        <ul class="drop">
                          <li class="subitem">test1</li>
                          <li class="subitem">test2</li>
                          <img src="images/MODAL/MODAL guitare encadrer.png">
                        </ul>
                      </li>
                      <li class="item trompette">trompette
                        <ul class="drop">
                          <li class="subitem">test1</li>
                          <li class="subitem">test2</li>
                          <img src="images/MODAL/MODAL guitare encadrer.png">
                        </ul>
                      </li>
                    </ul>
                  </nav>
                  <!-- Modal sous menu Via jquery-->


                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>

  </header>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
    {% block footer %}
    <div class="container">
      <div class="row  row-cols-4">
        <div class="col-12 col-lg-12" style="padding-left: 0px;padding-right: 0px;">
          <img src="images\FOOTER\footer.png" style="max-width: 100%;max-height: 100%;" alt="">
        </div>

      </div>

    </div>
 {% endblock %}
</html>
