{% extends 'base.html.twig' %}

{% block title %}Hello SecurityControllerEmployeController!{% endblock %}

{% block body %}


{{form_start(form)}}
<pre>
    {{ dump(form.roles) }}
</pre>
{{form_widget(form)}}

<button type="submit" class="btn btn-primary">inscription</button>
{{form_end(form)}}
{% endblock %}
