{% extends 'base.html.twig' %}

{% block title %}Nouvelle Employe{% endblock %}

{% block body %}
<div class="container" style="background-color: aqua;">
            <div class="row">
                <div class="col-12">
    <h1>Interface de Creation d'un nouveau collaborateur</h1>

    {{ include('employe/_form.html.twig') }}

    <a class="btn btn-primary"href="{{ path('employe_index') }}">back to list</a>
             </div>
            </div>
        </div>
{% endblock %}
